li {
  list-style: none;
}

.product--sold--visible {
  box-shadow:
  0px 1px 8px rgba(255, 170, 170, 0.25),
  0px 3px 4px rgba(245, 75, 75, 0.3),
  0px 1px 4px -1px rgba(255, 170, 170, 0.30);
}
.product--sold--not--visible {
  box-shadow:
  0px 1px 8px rgba(144, 238, 144, 0.25),
  0px 3px 4px rgba(144, 238, 144, 0.30),
  0px 1px 4px -1px rgba(144, 238, 144, 0.30);
}

