<app-main-container>
  <div class="w-full">
    <!--Liste des produits-->
    <div class="w-full h-full
      md:p-5">
      <!--Titre-->
      <header class="py-6 flex w-full justify-content-center">
       <h2>Votre liste de produits</h2>
      </header>

     <!--Liste des produits-->
      <main class="w-full flex flex-column align-items-center justify-content-center"
         *ngIf="sellerProducts$ | async as products" [@listAnimation]="products.length">
         <li class="w-full" *ngFor="let product of products; let index = index; let isLast = last">
           <app-summarize-product class="w-full flex justify-content-center" [product]="product"></app-summarize-product>
        </li>
      </main>
    </div>
  </div>
</app-main-container>
