.main__container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px 0px;
  z-index: 1;
}
.swipe--background {
  background: linear-gradient(to left, white, black);
}

.card {
  display: flex;
  width: 100%;
  max-width: 1024px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
  overflow: hidden;
  margin:0px 5px;
  border-left:solid 1px lightgray ;
}

.img__container {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 150px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  flex-shrink: 0;
}
div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
}

.status__container {
 display: flex;
 justify-content: flex-end;
 width: 100%;
  height: 50px;
}

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.status {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.delete__button__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1 !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background:linear-gradient(to left, white, black);


}

.product--to--sell{
  background-color: red;
}

.product--sell {
  background-color: green;
}

@media screen and (min-width: 1024px) {
  .card {
    border-radius: 10px;
  }

  .delete__button__container {
    border-radius: 10px;
  }

  .img__container {
    width: 350px;
    height: 250px;
    padding: 10px;
  }

  .status {
    width: 50px;
    height: 50px;
  }

}
