<div (click)="showProductDetail()" class="main__container">
  <!--Affichage des données du produit-->
  <div swipeLeft class="card" >
    <div class="img__container">
      <img [src]="imageUrl" alt="image du produit">
    </div>
    <div class="header m-2">
      <!--Description-->
      <div class="description__container">
        <!--Catégory-->
        <div>
          <p>Catégorie: <span class="uppercase text-sm font-medium">{{product.productCatgegoryLabel}}</span></p>
        </div>
        <!--Description-->
        <div class="p-1">
          <p class="text-xs">{{product.productName}}</p>
        </div>
      </div>
    </div>
    <!--Status du produit-->
    <div class="flex h-full w-1rem p-1">
      <div class="flex-1 border-round-xs {{ product.productStatuscode| statusPipe }}">

      </div>
    </div>
  </div>
 <!--Boutton désactivation d'un produit-->
 <div class="delete__button__container">
    <div (click)="desactivateProduct($event)" class="flex border-circle mr-4 shadow-4 bg-white align-items-center justify-content-center">
      <i class="p-2 pi pi-trash pi-cog" style="color:red; font-size: 1.5rem"></i>
    </div>
  </div>
</div>
