@font-face {
  font-family: 'raleway';
  src: url('./../public/font/Raleway.ttf');
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'raleway', 'arial', sans-serif;
}

/* Couleur arriere plan */
.back--color {
  background-color: #fffdfd;
}


/* Postion des toast messages sur petit ecran */
.p-toast {
  max-width: calc(100vw - 40px);
}

.m-width-1024 {
  max-width: 1024px;
}

:root {
  /* Hauteur navbar*/
  --nav_height: 89px;
}
