@font-face {
  font-family: 'raleway';
  src: url('./../public/font/Raleway.ttf');
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'raleway', 'arial', sans-serif;
}

/* Postion des toast messages sur petit ecran */
.p-toast {
  max-width: calc(100vw - 40px);
}

